.inicio{
    width: 100%;
    padding: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tituloBanner{
    color: #577C8E;
    font-size: 50px;
    text-transform: uppercase;
}
.link_botao{
     background-color: #2f4157;
    border: none;
    color: white;
    width: 15%;
    height: 40px;
    text-align: center;
    text-decoration: none;
    padding: 8px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-size: 16px;
}